.large-header {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  /* z-index: 1; */
}

.demo .large-header {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-container {
  width: 100vw;
}

.absolute {
  position: absolute;
  top: 5%;
  left: 32%;
}

.socket-title2 {
  font-size: 65px;
  padding: 0;
  text-align: center;
  color: white;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.5s;
}

.socket-title {
  font-weight: 100;
  font-size: 25px;
  padding: 0;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  display: flex;
  margin: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-form {
  margin-top: 100px;
  margin-left: 85px;
  padding: 0;
  text-align: center;
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.socket-title2 .thin {
  font-weight: 200;
  background: -webkit-linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.6;
}

.socket-title2 .thick {
  background: -webkit-linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
