* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: white;
}

svg {
  shape-rendering: crispEdges;
}

html {
  font-size: 16px;
}
input {
  font-size: 14px;
}
body {
  line-height: 1.4;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  margin-bottom: 16px;
}
label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}
input {
  border: 1px solid #eee;
  padding: 12px;
  outline: none;
}
button {
  cursor: pointer;
  padding: 12px;
  background: #87c0ff;
  border: none;
  color: #fff;
  font-size: 16px;
  transition: background 0.3s ease;
}
button:hover {
  background: #4894d7;
}
button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

/* .main-box {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .main-title {
  margin-top: 100px;
  color: #c99ded;
  font-family: "Roboto", sans-serif;
} */

.centered-form {
  width: 30vw;
  height: 50vh;
  z-index: auto;
  opacity: 0.9;

  /* display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.label-style {
  background: -webkit-linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.label-style-join {
  color: white;
}
.centered-form__box {
  box-shadow: 0 0 17px 1px #1d1f26;
  /* background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%); */
  padding: 24px;
  width: 250px;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.centered-form__box:hover {
  transform: scale(1.1, 1.1);
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.centered-form button {
  width: 100%;
}
.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

/************** Chat Styles ***********************/
.chat {
  display: flex;
}
.chat__sidebar {
  height: 100vh;
  color: #fff;
  background: #333744;
  width: 225px;
  overflow-y: scroll;
}
.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background-color: #330055;
  background-image: url("../img/background.svg");
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: scroll;
}
.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0;
  overflow-y: scroll;
}
.message {
  margin-bottom: 16px;
}
.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}
.message__meta {
  color: #ffffff;
  font-size: 14px;
}
.message a {
  color: #61a2d8;
}
.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}
.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}
.compose input {
  border: 1px solid #eee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}
.compose button {
  font-size: 14px;
}
.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  padding: 24px;
}
.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0;
}
.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0;
}
